@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
  scroll-padding: 60px;
}

body {
  font-family: "Poppins", sans-serif;
}

.custom_container {
  max-width: 1300px;
  padding: 0 80px;
  margin: 0 auto;
}

.custom_header {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  background: #fff;
}

.custom_header .custom_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_header .top_header {
  width: 100%;
  padding: 13px 0;
  margin: 0;
  background: #1c1818;
  z-index: 9999;
}

.custom_header .top_header .custom_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.custom_header .top_header .head_details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom_header .top_header .head_details p {
  font-size: 0.9rem;
  color: #fff;
  margin: auto;
  margin-right: 30px;
}

.top_header .social_links_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.top_header .social_links_btn li {
  margin-left: 10px;
}
.top_header .social_links_btn li a {
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  transition: 0.3s;
}

.top_header .social_links_btn li a:hover {
  color: #e24c26;
}

/* //////////////////////////////////////////////////// navigation styling ////////////////////////////////////////////////////////*/

.custom_navigation {
  width: 100%;
  /* height: 68px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px 0;
}

.fixed-navigation {
  position: fixed;
  background: rgba(255, 255, 255, 98%);
  margin: auto;
  top: -70px !important;
  left: 0;
  z-index: 9999;
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 20%);
  transform: translateY(70px);
  transition: all 0.4s;
}

.custom_navigation .custom_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.custom_navigation .logo {
  position: relative;
  min-width: 140px;
  text-align: right;
}

.custom_navigation .logo img {
  position: absolute;
  left: 0;
  top: 10px;
  width: 30px;
}

.custom_navigation .logo a {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: #111;
}

.custom_navigation .custom_nav_menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 999;
  text-align: center;
}

.custom_navigation li {
  list-style: none;
}

.custom_navigation li a {
  color: #111;
  padding: 8px 13px;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
  margin-left: 15px;
  transition: 0.3s;
  border-radius: 40px;
}
.custom_navigation li a:hover {
  background: linear-gradient(to right, #e24c26, #ff0f0f);
  color: #fff;
}

.custom_navigation .nav_toggle {
  display: none;
  background-color: #fff;
  border: none;
  padding: 8px 13px;
  color: rgba(0, 0, 0, 0.7) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.1em;
}
.custom_navigation .nav_toggle i {
  margin-right: 10px;
}
.custom_navigation .nav_toggle {
}

/* ///////////////////////////////////////// home styling /////////////////////////////////////////////////////// */

.home {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  background: #fff;
}
.home .custom_container {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 100px;
  z-index: 9;
}

.home .home_content {
  width: 50%;
  position: relative;
}

.home .home_content h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 20px;
}
.home .home_content h1 span {
  font-weight: 700;
}
.home .home_content p {
  color: #fff;
  padding-right: 30px;
  font-size: 0.9rem;
  margin-bottom: 40px;
}
.home .home_content .custom_btn {
  background: #fff;
  font-size: 1rem;
  font-weight: 500;
  color: #ff330f;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 45px;
  position: relative;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}

.home .home_content .custom_btn a {
  width: 100%;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ff0f0f;
  padding: 12px 0;
  z-index: 2;
  border-radius: 45px;
}

.home .home_content .custom_btn::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 92%;
  width: 0%;
  opacity: 0;
  border: none;
  border-radius: 45px;
  background: linear-gradient(to right, #e24c26, #ff0f0f);
  transition: all 0.3s;
  outline: none;
}

.home .home_content .custom_btn:hover a {
  color: #fff;
}
.home .home_content .custom_btn:hover::after {
  width: 97%;
  opacity: 1;
}

.home .image {
  position: absolute;
  top: 0;
  right: 100px;
  max-width: 600px;
}
.home .image img {
  text-align: left;
  width: 100%;
}

.circleBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
  background-image: linear-gradient(
    to bottom right,
    red,
    #ff0f0f,
    #e24c26,
    #e24c26,
    yellow
  );
  clip-path: circle(4600px at center -4100px);
}

/*/////////////////////////////////////////////////// about us styling ///////////////////////////////////////////////////////*/

.about {
  background-color: #fff;
  width: 100%;
  scroll-padding-top: 400px;
  margin-bottom: 100px;
}
.about .custom_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.about .about_image {
  max-width: 400px;
}

.about .about_image > img {
  width: 100%;
}

.about .about_content {
  width: 50%;
}

.about .about_content img {
  width: 40px;
}

.about .about_content h1 {
  padding: 20px 0;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  color: #191d34;
}

.about .about_content p {
  padding: 10px 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: #636363;
}

.about .about_content .custom_btn {
  background: linear-gradient(to right, #ff0f0f, #e24c26, #e24c26);
  font-size: 1rem;
  font-weight: 400;
  color: #ff330f;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 40px;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
}
.about .about_content .custom_btn a {
  display: inline-block;
  width: 100%;
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 12px 0;
  z-index: 2;
  border-radius: 40px;
}
.about .about_content .custom_btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  opacity: 0;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right, #e24c26, #ff0f0f, #ff0f0f);
  transition: all 0.3s;
  outline: none;
}

.about .about_content .custom_btn:hover a {
  color: #fff;
}
.about .about_content .custom_btn:hover::after {
  width: 100%;
  opacity: 1;
}

/*/////////////////////////////////////////////////// services styling ///////////////////////////////////////////////////////*/

.services {
  min-height: 700px;
  background-color: #fff;
  width: 100%;
  padding-top: 20px;
}
.services .custom_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services_top_row {
}
.services_top_row img {
  width: 40px;
}
.services_top_row h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 10px 0;
  color: #191d34;
}
.services_top_row p {
  font-size: 1rem;
  font-weight: 300;
  color: #585858;
}

.services_bottom_row {
  width: 100%;
  margin: 50px 0;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.services .services_bottom_row .service_card {
  width: 32%;
  min-width: 260px;
  padding: 20px 0;
}

.services_bottom_row .service_card .images {
  margin-bottom: 20px;
}

.services_bottom_row .service_card .images img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 50%;
}

.services_bottom_row .service_card .services_content h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: #191d34;
}
.services_bottom_row .service_card .services_content p {
  font-size: 0.9rem;
  color: #4d4d4d;
  padding: 0 20px;
}

/* ////////////////////////////////////////////////// pricing section ///////////////////////////////////////////////////// */
.pricing {
  width: 100%;
  min-height: 800px;
  background: #f8f9fd;
  display: flex;
  align-items: center;
}
.pricing .custom_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pricing h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 10px 0;
  color: #191d34;
}

.pricing p {
  font-size: 1rem;
  font-weight: 300;
  color: #585858;
}

.pricing .pricing_container {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing .custom_pricing_card {
  width: 32%;
  background: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 16px 35px 0px rgb(0 0 2 / 8%);
}

.pricing .custom_pricing_card h2 {
  font-size: 16px;
  font-weight: 400;
  border: none;
  padding: 20px 80px 10px;
  color: #ff330f;
}
.pricing .custom_pricing_card ul {
  padding: 20px 0;
  width: 80%;
  margin: auto;
}

.pricing .custom_pricing_card ul h3 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.pricing .custom_pricing_card ul h3 sup,
.pricing .custom_pricing_card ul h3 sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

.pricing .custom_pricing_card ul h3 sup {
  font-size: 20px;
  top: -20px;
  left: -3px;
  color: #b3b3b3;
  font-weight: 300;
}
.pricing .custom_pricing_card ul h3 sub {
  bottom: -0.25em;
  color: #b3b3b3;
  font-weight: 300;
  font-size: 13px;
}
.pricing .custom_pricing_card .pricing_btn {
  width: 60%;
  margin: 5px auto 20px;
  background: linear-gradient(to right, #e24c26, #ff0f0f, #ff0f0f);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}

.pricing .custom_pricing_card .pricing_btn a {
  display: inline-block;
  width: 100%;
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 12px 0;
  z-index: 2;
  border-radius: 40px;
  transition: all 0.3s;
}

.pricing .custom_pricing_card .pricing_btn:hover {
  background: none;
  box-shadow: inset 0 0 0 2px #ff3500;
}
.pricing .custom_pricing_card .pricing_btn:hover a {
  color: #ff3500;
}

.pricing .custom_pricing_card li {
  list-style: none;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px 0;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 300;
}

.pricing .custom_pricing_card ul li:nth-child(odd) {
  background: #fff;
}

.pricing .custom_pricing_card li i {
  color: hsl(204, 100%, 50%);
  background: none;
}
/* ///////////////////////////////////////////////////// info section  ////////////////////////////////////////////////////// */

.info {
  width: 100%;
  min-height: 650px;
  background: #fff;
  display: flex;
  align-items: center;
}
.info .custom_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_content {
  width: 50%;
  padding-right: 20px;
}

.info_content h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #191d34;
  padding-right: 0px;
}
.info_content h1 span {
  font-weight: 600;
}

.info_content p {
  font-size: 0.9rem;
  line-height: 2;
  color: #66666f;
  padding-right: 20px;
  margin: 40px 0;
}

.info_content .custom_btn {
  background: linear-gradient(to right, #ff0f0f, #e24c26, #e24c26);
  font-size: 1rem;
  font-weight: 400;
  color: #ff330f;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
}
.info_content .custom_btn a {
  position: relative;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 12px 0;
  border-radius: 45px;
  z-index: 2;
}
.info_content .custom_btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  opacity: 0;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right, #e24c26, #ff0f0f, #ff0f0f);
  transition: all 0.3s;
  outline: none;
}

.info_content .custom_btn:hover a {
  color: #fff;
}
.info_content .custom_btn:hover::after {
  width: 100%;
  opacity: 1;
}

.info_card_custom_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 20px;
}

.info_card_custom_container .info_card_col {
  flex: 0 0 40%;
}

.info_card_custom_container .info_card_col:nth-child(2) .info_card {
  margin: 30px 20px;
}

.info_card_custom_container .info_card {
  width: 210px;
  height: 210px;
  background: #fff;
  box-shadow: 0 16px 35px 0 rgb(0 0 2 / 10%);
  margin: 0 20px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.info_card_custom_container .info_card img {
  max-width: 60px;
}
.info_card_custom_container .info_card i {
  font-size: 60px;
  background: linear-gradient(to right, #ff0f0f, #e24c26, #e24c26);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info_card_custom_container .info_card .customerIcon {
  fill: url(#customer-icon-gradient);
}

.info_card h2 {
  font-size: 3rem;
  color: #383737;
}

.info_card p {
  color: #636363;
  font-size: 18px;
}

.info_card_custom_container .info_card:hover {
  box-shadow: 0 16px 35px 0 rgb(0 0 2 / 30%);
}

/* ////////////////////////////////////////////////////// slider testemonials section /////////////////////////////////////////////////// */

.testemonials {
  position: relative;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #f8f9fd; */
  background-color: #fff;
  /* font-family: "Open Sans", sans-serif; */
}

.testemonials .custom_container {
  width: 100%;
  background: none;
  padding: 0;
}

.testemonials .custom_container h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  margin: 10px 0;
  color: #191d34;
}

.testemonials .custom_container .carousel_container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.testemonials .carousel_item {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  padding: 20px 40px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 16px 35px 0 rgb(0 0 2 / 20%);
}

.testemonials .owl-carousel .owl-item {
  opacity: 0.3;
}
.testemonials .owl-carousel .owl-item.active {
  opacity: 1;
}

.carousel_item .carousel_image {
  margin: 0px 20px 0 0;
}

.carousel_item .carousel_image img {
  width: 130px;
  object-fit: cover;
}

.carousel_item .carousel_text {
}
.carousel_item .carousel_text h2 {
  font-size: 20px;
  font-weight: 600;
  color: #383737;
  margin-bottom: 0;
}
.carousel_item .carousel_text h4 {
  color: #979797;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 1;
  margin-top: 3px;
}
.carousel_item .carousel_text p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.owl-nav {
  position: absolute;
  bottom: 80px;
  right: 110px;
  margin: 10px;
  color: #b6b6b6;
  font-size: 18px;
}

.owl-prev {
  margin-right: 10px;
}

.custom_bi:hover {
  color: black;
  opacity: 1;
}

/*///////////////////////////////////////////////////// Our Team styling ///////////////////////////////////////////////////////// */
.teams {
  width: 100%;
  min-height: 600px;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 100px 0;
}

.teams .custom_container {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.teams_heading {
  margin-bottom: 100px;
  padding: 0 100px;
}

.teams_heading img {
  width: 40px;
}
.teams_heading h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #191d34;
}
.teams_heading p {
  font-size: 0.9rem;
  color: #66666f;
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 300;
  padding: 0 100px;
}

.teams_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.teams_item {
  position: relative;
}

.teams_content .teams_item .image {
}

.teams_item img {
  width: 280px;
  height: 260px;
  object-fit: cover;
}

.teams_item .name {
  position: absolute;
  bottom: -25px;
  right: 80px;
  transition: all 0.3s;
}

.teams_item .name .inner {
  display: inline-block;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: white;
  box-shadow: 0px 16px 35px 0px rgb(0 0 2 / 10%);
}

.teams_item .name .inner h3 {
  color: #222222;
  font-size: 15px;
  font-weight: 500;
}
.teams_item .name .inner p {
  font-size: 14px;
  color: #7a7b7c;
  font-weight: 300;
  margin-bottom: 0;
}
.teams_item:hover .name {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  cursor: pointer;
}

/* //////////////////////////////////////////////// contacts styling ////////////////////////////////////////////////////////////*/
.contacts {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.contacts .custom_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts .contact_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts .contact_content .image {
  width: 400px;
}

.contact_content .image img {
  width: 100%;
}

.contact_content .contact_form {
  border-radius: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  background: linear-gradient(to right, #e24c26, #ff0f0f, #ff0f0f);
}

.contact_content .contact_form h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #ffffff;
}

.contact_content .contact_form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact_content .contact_form .custom_select {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.contact_content .contact_form .custom_select .custom_arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_form .custom_select .custom_arrow i {
  font-size: 0.9rem;
  color: hsl(0, 0%, 40%);
}

.contact_content .contact_form #services {
  display: block;
  width: 100%;
  margin: auto;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
}
.contact_form #services:required:invalid {
  color: gray;
}
.contact_form #services option[value=""][disabled] {
  display: none;
}
.contact_form #services option {
  color: black;
}

.contact_form .custom_inputs {
  width: 100%;
}

.contact_form .custom_inputs #contact_name {
  display: inline-block;
  width: 49%;
  margin-right: 2px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.contact_form .custom_inputs #contact_vehicleNumber {
  display: inline-block;
  width: 49%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.custom_inputs .custom_date {
  position: relative;
  width: 49%;
  display: inline-block;
  margin: 20px 0;
  margin-right: 2px;
}

.custom_inputs .custom_date #contact_date {
  display: inline-block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.custom_inputs .custom_date i {
  position: absolute;
  top: 11px;
  right: 11px;
  color: hsl(0, 0%, 40%);
}

.custom_inputs .custom_time {
  position: relative;
  width: 49%;
  display: inline-block;
  margin: 0px 0 20px;
}
.custom_inputs .custom_time #contact_time {
  display: inline-block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.custom_inputs .custom_time i {
  position: absolute;
  top: 11px;
  right: 11px;
  color: hsl(0, 0%, 40%);
}

.contact_form textarea {
  width: 100%;
  height: 120px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 20px;
  resize: none;
}

.contact_form .contact_submit_btn {
  background: #fff;
  font-size: 1rem;
  font-weight: 500;
  color: #ff330f;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 5px;
  position: relative;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}

.contact_form .contact_submit_btn:hover {
  border: 3px solid #fff;
  background: none;
  color: #fff;
}

/* ////////////////////////////////////////////// footer top styling //////////////////////////////////////////////////////// */

.footer_navigation {
  width: 100%;
  height: 400px;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.7);
  background: #1a1a1a;
  padding-top: 50px;
}

.footer_navigation .custom_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer_navigation .col {
  width: 25%;
  height: 100%;
  padding: 10px;
}

.footer_navigation .custom_container .col p {
  font-size: 12px;
  margin: 20px 0;
}

.footer_navigation .custom_container .col h1 {
  position: relative;
  font-size: 20px;
  margin-bottom: 30px;
  color: #fff;
}
.footer_navigation .custom_container .col h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 30px;
  background: #e24c26;
}

.footer_navigation .footer_social_links_btn {
  display: flex;
  align-items: center;
  list-style: none;
}
.footer_navigation .footer_social_links_btn li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.footer_navigation .footer_social_links_btn li a {
  color: #ff330f;
  font-size: 14px;
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: relative;
  transition: all 0.3s;
}

.footer_navigation .footer_social_links_btn li a:hover {
  color: #ffffff;
}

.footer_navigation .footer_social_links_btn li a i {
  position: absolute;
  font-size: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer_navigation .custom_footer_menu {
  padding: 0 10px;
}
.footer_navigation .custom_footer_menu li {
  list-style: none;
  margin-bottom: 10px;
}
.footer_navigation .custom_footer_menu li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  text-decoration: none;
}
.footer_navigation .custom_footer_menu li a:hover {
  color: #e24c26;
}

.footer_navigation .col .questions_list {
  padding-right: 20px;
}
.footer_navigation .col .questions_list li {
  font-size: 12px;
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}

.footer_navigation .col .questions_list li i {
  margin-top: 5px;
  font-size: 16px;
  margin-right: 15px;
}

/* //////////////////////////////////////////////////// footer styling ///////////////////////////////////////////////////////////// */

.footer {
  height: 50px;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .custom_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .custom_container p {
  font-size: 14px;
  font-weight: 300;
  color: #9b9b9b;
}
